<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('../partials/main-nav.ejs', { isAdmin }) %>
    <main>
      <form method="POST" action="/register">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
        </div>
        <div class="form-group">
          <label for="password-confirm">Confirm password</label>
          <input
            type="password"
            class="form-control"
            id="password-confirm"
            name="password-confirm"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
          <span style="padding: 20px 0 20px 20px;">or</span>
          <a class="nav-item nav-link d-inline-block" href="/login">Login</a>
        </div>
      </form>
    </main>
  </body>
</html>
