<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('../partials/main-nav.ejs', { uri }) %>
    <main>
      <form action="/admin/products" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            aria-describedby="productTitle"
            placeholder="Enter product title"
          />
          <small id="productTitle" class="form-text text-muted">Enter a shor title of this product.</small>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input
            type="text"
            name="image_url"
            class="form-control"
            id="imageUrl"
            aria-describedby="productImage"
            placeholder="Enter product image URL"
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            step="0.01"
            name="price"
            class="form-control"
            id="price"
            aria-describedby="productPrice"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" class="btn btn-primary">Add product</button>
      </form>
    </main>
  </body>
</html>
