<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('partials/main-nav.ejs') %>
    <main>
      <form method="POST" action="/admin/users">
        <input type="text" name="username" />
        <button type="submit">Add user</button>
      </form>
      <% if (users.length) { %>
      <ul>
        <% for (let user of users) { %>
        <li><%= user.username %></li>
        <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
