<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { pageTitle }) %>
<body>
  <%- include('../partials/main-nav.ejs') %>
  <main>
    <% if (products.length) { %>
    <ul>
      <% for (let product of products) { %>
      <li><%= product.title %></li>
      <% } %>
    </ul>
    <% } else { %>
    <p>No products in your cart. Why don't have a look at <a href="/products">our products</a>?</a></p>
    <% } %>
  </main>
</body>
</html>
