<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('../partials/main-nav.ejs') %>
    <main>
      <p>TODO: Display the contents of your cart...</p>
    </main>
  </body>
</html>
