<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('../partials/main-nav.ejs', { uri }) %>
    <main>
      <div class="jumbotron">
        <h1 class="display-4">Hello to my Buylando app! 👋</h1>
        <h2 class="display-5">Index page rendered with ejs 🎉</h2>
        <p class="lead">
          This is a simple express.js app. Built as an exercise to solidify knowledge after watching the tutorial.
        </p>
        <hr class="my-4" />
        <p>It uses express.js and ejs templating engine.</p>
        <a class="btn btn-primary btn-lg" href="/learn-more" role="button">Learn more</a>
      </div>
    </main>
  </body>
</html>
