<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('../partials/main-nav.ejs', { uri: '/cart' }) %>
    <main>
      <p>You don't have any orders, yet!</p>
      <span>Dummy content</span>
    </main>
  </body>
</html>
