<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { pageTitle }) %>
  <body>
    <%- include('../partials/main-nav.ejs') %>
    <main>
      <% if (products.length) { %>
      <ul>
        <% for (let product of products) { %>
        <li><%= product.title %></li>
        <% } %>
      </ul>
      <% } else { %>
      <p>No products found. Why don't you create some? 🤔</p>
      <% } %>
    </main>
  </body>
</html>
